@import "tailwindcss";
@config "../tailwind.config.js";

::-webkit-scrollbar-track {
    background-color: darkgrey;
}
  
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html{
  scrollbar-color: var(--color-primary) transparent;
  scrollbar-width: thin;
}

/* Світла тема */
:root {
  --color-bg:      #438b4b; /* header */
  --color-surface: #edf8f0; /* main wrapper bg */
  --color-text:    #1f2937; /* text, icons */
  --color-placeholder:    #1f293767;/* ChatFooter input placeholder */
  --color-border: #1f29373b; /* border */
  --color-primary: #27a351; /* button, border для (fileUploader,MessageBubble), AddFileIcon hover, selected chat  hover*/
}

/* Темна тема */
.dark {
  --color-bg:      #1e2121;
  --color-surface: #01090c;
  --color-text:    #a6beb4;
  --color-placeholder:    #a6beb472;
  --color-border: #c4d6cf56; /* button */
  --color-primary: #0fb46f; 
}

code {
  display: block;
  width: 100%;
  overflow-x: auto;
  white-space: pre;
}
code *{
  max-width: 100%;
}