@import "tailwindcss";

/* styles/scrollbar.css */
::-webkit-scrollbar-track {
    background-color: darkgrey;
  }
  
::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

html{
scrollbar-color: oklch(48.8% 0.243 264.376) transparent;
scrollbar-width: thin;
}
